<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DB:ConnectionString" value="Persist Security Info=False;Integrated Security=true;Initial Catalog=TaskDB;server=IBRA-PC\SQLEXPRESS"/>
  </appSettings>
</configuration>